# MacOS
.DS_Store

# Python compiled
*.pyc
__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/*
!data/README.md
/src/data/
/pixel-cnn-pp_pretrained/*

pretrained/
runs/
logs/
models
/src/pixelcnn/data/*
/src/pixelcnn/images/*

lightning_logs/